<ion-header>
  <ion-navbar no-border-bottom>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="list" (ionSelect)="mapLoaded = false">
        List
      </ion-segment-button>
      <ion-segment-button value="map">
        Map
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
      <button ion-button icon-only (click)="filterChange()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="segment">
  <!-- *************** LIST ******************* -->
  <ion-list *ngIf="segment === 'list'" no-lines>
    <div *ngFor="let post of posts | async; let i=index">
      <ion-item-divider light class="capitalize">
        <ion-badge item-left>{{alphabet[i]}}</ion-badge>
      </ion-item-divider>
      <ion-card>
        <img src="img/card-saopaolo.png"/>
        <div class="card-title">{{post.title}}</div>
        <div class="card-subtitle">Price: <b>{{post.price}}</b></div>
        <div class="card-subtitle">Address: {{post.address.address1}}, {{post.address.city}}</div>
        <div class="card-subtitle">Description: {{post.description}}</div>
      </ion-card>
    </div>
  </ion-list>
  <!-- *************** MAP ******************* -->
  <div #map id="map" *ngIf="segment === 'map'"></div>
</ion-content>
